[Unit]
Description=NetHelper - Help network administrators rule the world...
Documentation=https://localhost/nethelper
After=network.target

[Service]
Type=simple
User=nethelper
ExecStart=/usr/bin/env python3 /usr/local/nethelper/run.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
