{% extends "base.html" %}

{% block content %}

<h1>NetHelper About page</h1>

<p>
This site allows network administrators and other cool guys to retrieve ip address, mac address and port details.

We offer a simple website for retrieving the data as well as an API. The API will have a few additional features, mainly
for bulk queries.

There are a lot of websites and tools out there for this with various level of maturity.
The main goal is to create the end all API for network administrators and <i><b>rule the world...<b></i>


{% endblock content %}
