{% extends "base.html" %}

{% block metadescr %}<meta name="description" content="This NetHelper page provides detaills on the REST API for dns domain name queries, ip network calculator, mac vendor lookups and port lookups">{% endblock metadescr %}

{% block title %}REST API for ip network calculations, DNS domain name lookups and more{% endblock title %}

{% block content %}
<h1>NetHelper API Documentation</h1>
<p>Here we'll describe the nethelper API on http://localhost/api/v1/</p>
{% endblock content %}
