<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block metadescr %}{% endblock metadescr %}
    <meta name="author" content="Mathijs Mortimer" href="humans.txt">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this website -->
    <link href="{{ app.router.static.url(filename='css/nethelper.css') }}" rel="stylesheet">
    <link href="css/nethelper.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" {% if query_page_active %}class="active"{% endif %}><a href="/">Query</a></li>
            <li role="presentation" {% if api_page_active %}class="active"{% endif %}><a href="/api">API</a></li>
            <li role="presentation" {% if blog_page_active %}class="active"{% endif %}><a href="/blog">Blog</a></li>
            <li role="presentation" {% if whoarewe_page_active %}class="active"{% endif %}><a href="/whoarewe">Who are we</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NetHelper</h3>
      </div>
      {% block content %}{% endblock content %}
    </div> <!-- container -->


    <div class="footer">
        <div class="container">
          {% block footer %}{% endblock footer %}
          {% include "footer.html" %}
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block scripts %}{% endblock scripts %}
  </body>
</html>
