{% extends "base.html" %}

{% block metadescr %}<meta name="description" content="Personal blog about network programming in Python and other assorted hobbies.">{% endblock metadescr %}
{% block title %}Blog about network programming in Python{% endblock title %}

{% block content %}
<h1>My personal Blog</h1>
<p>
I've got a lot of ideas for interesting blog posts, maybe someday I get around to actually writing one.... !!!
</p>
<a href="https://twitter.com/SoulmanThiezn" class="twitter-follow-button" data-dnt="true" data-show-count="false">Follow @SoulmanThiezn</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock content %}
