<div class="row">
    <div class="col-md-6">
        <h3>NETHELPER</h3>
        <p>&copy; 2017 <a href="https://www.mortimer.nl">mortimer.nl</a></p>
    </div>
    <div class="col-md-3">
        <h3>MENU</h3>
        <ul class="list-unstyled">
            <li><a href="/">Query</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/whoarewe">Who are we</a></li>
        <ul>
    </div>
    <div class="col-md-3">
        <h3>CONTACTS</h3>
        <ul class="list-unstyled">
            <li>Mathijs Mortimer</li>
            <li><a href="mailto:admin@mortimer.nl">admin@mortimer.nl</a></li>
            <li>twitter @SoulmanThiezn</li>
        </ul>
    </div>
</div>
