{% extends "base.html" %}

{% block content %}
<h1>NetHelper</h1>

<p>
Check <a href="https://developers.google.com/web/fundamentals/design-and-ui/responsive/">this</a> this site for some UI improvements
</p>

<div class="box">
    <p>Please provide a network, mac address or port number</p>
    <form action="/query" method="post" accept-charset="utf-8">
        <input id="query" name="query"></input>
        <input type="submit" value="query" />
    </form>
    <p><small>Examples are '10.0.0.0/24', '10.0.0.0 255.255.255.0', 'tcp/22', '0011.2233.4455', '00:11:22:33:44:55', etc</small></p>
</div>

{% if results %}
    <div class="box">
        <h2>Results</h2>
        <ul>
            {% for result in results %}
                <li>{{ result }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock content %}
