{% extends "base.html" %}

{% block content %}
<p>
This site allows network administrators and other cool guys to retrieve ip address, mac address and port details.

We offer a simple website for retrieving the data as well as an API. The API will have a few additional features, mainly
for bulk queries.

There are a lot of websites and tools out there for this with various level of maturity.
The main goal is to create the end all API for network administrators and <i><b>rule the world...<b></i>
</p>

<address>
  <strong>Rowly Inc.</strong><br>
  <abbr title="Phone">P:</abbr> +31 (0) 30 71 22222<br>
  <abbr title="Email">M:</abbr><a href="mailto:admin@mortimer.nl">admin@mortimer.nl</a><br>
</address>
  
</address>
{% endblock content %}
